=semantic_form_for @artist do |f|
  =f.inputs do
    =f.input :first_name, label: "First Name"
    =f.input :last_name, label: "Last Name"
  =f.actions do
    =f.action :submit, label: "Add New Artist"